<div id="home">
    <div id="homepage_bot">
        <iframe id="botkit_client" src="/chat.html"></iframe>
    </div>

    <div id="welcome">
        <br>
        <p><a href="/chat.html">Full Screen</a></p>
        <!--<p><a href="/embed">Embed me in a web site</a></p>-->
        
    </div>
</div>
<script src="/embed.js"></script>
<script>
  Botkit.boot({});
</script>
